<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio"style="margin-top:2em; text-align:center;">{{ site.author.bio }}</p>
 <p class="author-bio" style="margin-top:2em;"> I'm a Machine Learning Engineer at <a href="https://about.meta.com/" target="_blank">Meta</a>, working on ML for growth and monetization. Previously I built ML systems at <a href="https://www.bloomberg.com/" target="_blank">Bloomberg</a> and started my career at <a href="https://www.barclays.com/" target="_blank">Barclays</a>. I hold an M.S. in Computer Science from the <a href="https://cs.nyu.edu/home/index.html" target="_blank">Courant Institute of Mathematical Sciences, New York University</a>. I'm passionate about machine learning, ranking and recommendation systems, and LLMs.</p>

</div>
