---
layout: compress
---
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body data-theme="{{ site.mode }}">
  {% include navbar.html %}
  <div class="wrapper">
    {% include author.html %}
<!--    {% include snslinks.html %}-->
    {% include social-media-links.html center=true %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>